<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.4.4" targetFramework="net48" />
  <package id="LibVLCSharp.WinForms" version="3.4.4" targetFramework="net48" />
  <package id="MessageCustomHandler" version="1.0.0" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="1.1.0" targetFramework="net48" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.8.1" targetFramework="net48" />
</packages>